{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Habitat For Humanity White Iverson</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>


    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">
            <img src="{% static "images/NavBarImage.png" %}">
            </a>
        <form class="form-inline">
            <p class="lead my-2 mr-sm-2">Already a member?</p>
            <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="location.href='login';">Login</button>
        </form>
    </nav>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to the Habitat for Humanity Project and Donation Page</h1>
            <p class="lead">We here at Habitat for Humanity want to empower individuals to help others through
                donations
                or simply volunteering to help out at a nearby project. If you'd like to sign up to be a volunteer, or
                simply donate,
                the pages below should answer any questions you might have.</p>
        </div>
    </div>

    <div class="card-group">
        <div class="card bg-dark text-white">
            <img class="card-img" src="{% static "images/donate.jpg" %}" alt="Card image" height="400">
            <div class="card-img-overlay">
                <h5 class="card-title" style="background-color: rgba(1,1,1,0.4)">Donations</h5>
                <p class="card-text" style="background-color: rgba(1,1,1,0.4)">Register as a donor in order to make donations, help people, and view
                the outcome of your donations.</p>
                <p class="card-text"><a class="text-light" href="{% url 'donor_signup' %}" style="background-color: rgba(1,1,1,0.4)">Go to Donor Sign-Up</a></p>
            </div>
        </div>
        <div class="card bg-dark text-white">
            <img class="card-img" src="{% static "images/volunteer1.jpg" %}" alt="Card image" height="400">
            <div class="card-img-overlay">
                <h5 class="card-title text-light" style="background-color: rgba(1,1,1,0.4)">Volunteer</h5>
                <p class="card-text text-light" style="background-color: rgba(1,1,1,0.4)">Register as a volunteer in order to work on projects, help out in your community,
                and make a difference in the world.</p>
                <h4 class="card-text"><a class="text-light" style="background-color: rgba(1,1,1,0.4)" href="{% url 'member_signup' %}">Sign Up Today!</a></h4>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>