<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ project.ProjectName }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">{{ project.ProjectName }}</h1>
            <p class="lead">{{ project.ProjectDescription }}</p>
            <hr class="my-4">
            {% if project.ProjectState == 1 %}
            <h1>State: Proposed</h1>
            {% elif project.ProjectState == 2 %}
            <h1>State: Accepted</h1>
            {% else %}
            <h1>State: Completed</h1>
            {% endif %}
            <p>The project is located in {{ project.ProjectLocation }}, {{ project.ProjectZip }}</p>
        </div>
        <div class="container">
            <div class="btn-group btn-group-lg" role="group" aria-label="Back">
                <button type="button" class="btn btn-large btn-primary" onclick="location.href='{% url 'member_dashboard_all' %}'">Back</button>
            </div>
        </div>
    </div>
    <div class="container">
        <h3>Project Members</h3>
        <table class="table table-striped table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Total Members: {{ memberCount }}</th>
                </tr>
            </thead>
            <tbody>
            {% for member in members %}
                <tr>
                <td>{{ member.id }}</td>
                <td>{{ member.UserID.firstname }}</td>
                <td>{{ member.UserID.lastname }}</td>
                </tr>
            {% endfor %}
            </tbody>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>